.signUp-cover {
  background-color: black;
  height: 100vh;
}

.signUp-wrapper {
  color: white;
  min-height: 660px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 60px 68px 40px;
  margin-bottom: 90px;
}

.signUp-header {
  color: white;
  margin-bottom: 0.8rem;
}

.signUp-form {
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.input-field {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  background-color: #303030;
  border: none;
  outline: none;
  margin: 10px 0px;
  border-radius: 3px;
  height: 36px;
  width: 300px;
  font-size: 18px;
}

.input-field:focus {
  background-color: aliceblue;
  color: #303030;
}

.signUp-button {
  background-color: red;
  color: white;
  height: 50px;
  width: 332px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
  margin-top: 2rem;
  cursor: pointer;
}

.remember-me {
  color: white;
  display: flex;
  align-items: center;
}

.remember-me > span {
  padding-left: 11px;
  padding-top: 0.6em;
  font-size: 1.2rem;
}

.login-new {
  margin-top: 50px;
  text-align: left;
  color: white;
  font-size: 1.2rem;
}

.login-link {
  color: white !important;
  padding-left: 7px;
  cursor: pointer;
  text-decoration: none;
}

.login-link:hover {
  color: red !important;
}
